* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans';
}

.header {
    grid-area: header;
    background-color: #16191b;
    padding: 15px 15px;
    text-align: justify;
}

.header a {
    color: white;
    margin-left: 20px;
    font-size: 28px;
    font-family: 'Aboreto';
    cursor: pointer;
    text-decoration: none;
}

.header2 {
    grid-area: header2;
    background-color: #212529;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header2 header2 header2 header2 header2 header2 header2 header2 header2 header2 header2'
        /* O container da grade */
        'left middle middle middle middle middle middle middle middle middle middle middle';
}

.left {
    grid-area: left;
    padding: 15px 15px;
    border: 0.5px solid rgba(255, 255, 255, 0.20);
}

.left .nav-menu {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.left .nav-menu a {
    font-family: 'Noto Sans';
    padding: 6px;
    font-size: 18px;
    text-decoration: none;
    color: #6EA8FE;
    transition: 0.2s;
}

.left .nav-menu a:hover {
    padding: 6px 6px 6px 11px;
    text-decoration: underline;
}

.middle {
    grid-area: middle;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-areas:
            'header header header header header header'
            'left left left left left left'
            'middle middle middle middle middle middle middle middle';
    }
}